.cards__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, 413px);
  gap: 40px 20px;
  justify-content: center;
}
.cards {
  padding-top: 20px;
  padding-bottom: 40px;
  border-bottom: 1px rgba(33, 33, 33, 0.4) solid;
}
@media screen and (min-width: 861px) and (max-width: 1292px) {
  .cards {
    width: 100%;
  }
}
@media screen and (min-width: 628px) and (max-width: 860px) {
  .cards {
    width: 100%;
  }
}

@media screen and (max-width: 627px) {
  .cards__list {
    grid-template-columns: repeat(auto-fit, 288px);
    gap: 60px;
  }
  .cards {
    max-width: 288px;
    padding-bottom: 60px;
  }
}
