.profile {
  display: flex;
  margin-top: 34px;
  min-height: 190px;
  padding-bottom: 20px;
  border-bottom: 1px rgba(33, 33, 33, 0.4) solid;
}
.profile__post-btn {
  margin-left: auto;
  margin-top: auto;
  background-color: #212121;
  color: #fcf5e5;
  display: flex;
  align-items: center;
  width: 149px;
  text-wrap: nowrap;
  max-height: 52px;
  gap: 8px;
  padding: 18px 32px 18px 32px;
  border-radius: 8px;
  font-size: 16px;
  line-height: 16px;
  font-weight: 500;
  cursor: pointer;
}
.profile__post-btn:hover {
  opacity: 80%;
}
.profile__post-btn-icon {
  max-width: 12px;
  max-height: 12px;
}
.profile__edit-btn {
  margin-top: auto;
  border: none;
  background: none;
  max-width: 107.34px;
  max-height: 16px;
  line-height: 16px;
  font-size: 16px;
  font-weight: 500;
  align-items: center;
  padding: 0;
  display: flex;
  color: #212121;
  opacity: 70%;
  cursor: pointer;
}
.profile__edit-btn:hover {
  color: #212121;
  opacity: 100%;
}
.profile__edit-btn-icon {
  max-width: 18.48px;
  padding-right: 5px;
}
.profile__column {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 190px;
}
.profile__avatar {
  margin-right: 20px;
  border-radius: 8px;
  width: 190px;
  height: 190px;
  object-fit: cover;
}
.profile__description {
  margin: 0;
  margin-bottom: auto;
  max-width: 420px;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.profile__name {
  margin: 0;
  max-width: 420px;
  font-weight: 500;
  font-size: 32px;
  line-height: 32px;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  margin-bottom: 12px;
}
@media screen and (min-width: 861px) and (max-width: 1293px) {
  .profile {
    flex-direction: row;
    align-items: center;
    max-width: 854px;
    min-height: 190px;
    text-align: start;
    margin-top: 20px;
  }
  .profile__column {
    width: 100%;
  }
  .profile__description {
    margin-bottom: 32px;
  }
  .profile__avatar {
    margin-right: 0;
    height: 190px;
    width: 190px;
    padding-right: 20px;
  }
  .profile__name {
    margin-bottom: 6px;
  }
  .profile__post-btn {
    margin: 0;
    width: 25%;
    justify-content: center;
    margin-top: auto;
    margin-left: auto;
  }
}
@media screen and (max-width: 860px) {
  .profile {
    flex-direction: column;
    align-items: center;
    max-width: 417px;
    min-height: 274px;
    text-align: center;
    margin-top: 20px;
  }
  .profile__column {
    min-height: fit-content;
    width: 100%;
  }
  .profile__description {
    margin-bottom: 32px;
  }
  .profile__avatar {
    margin-right: 0;
    height: 80px;
    width: 80px;
    padding-bottom: 12px;
  }
  .profile__name {
    margin-bottom: 6px;
  }
  .profile__post-btn {
    margin: 0;
    width: 100%;
    justify-content: center;
    margin-top: 20px;
  }
  .profile__edit-btn {
    margin: 0;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (max-width: 627px) {
  .profile {
    flex-direction: column;
    align-items: center;
    max-width: 292px;
    min-height: 274px;
    text-align: center;
    margin-top: 20px;
  }
  .profile__column {
    min-height: fit-content;
    width: 100%;
  }
  .profile__description {
    margin-bottom: 32px;
  }
  .profile__avatar {
    margin-right: 0;
    height: 80px;
    width: 80px;
    padding-bottom: 12px;
  }
  .profile__name {
    margin-bottom: 6px;
    font-size: 20px;
    line-height: 20px;
  }
  .profile__post-btn {
    margin: 0;
    width: 100%;
    justify-content: center;
    margin-top: 20px;
  }
  .profile__edit-btn {
    margin: 0;
    margin-left: auto;
    margin-right: auto;
  }
}
